* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;

}

a {
    text-decoration: none;
}





/* navbar */

nav {
    border-style: dotted;
    /* test */
    display: flex;
    justify-content: space-between;

    width: 100vw;
    padding-top: 15px;
    padding-bottom: 15px;

}

#nav-left {
    padding-left: 20px
}

#nav-right {
    padding-right: 20px
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    color: black;
}

#dropbox-link {
    font-size: 25px;
    color: #0261ff;

}

a strong {
    font-size: 20px;
    font-weight: 600;
}

/* end navbar *






/* buttons */
.buttons {
    padding: 6px 12px;

    background-color: #0261ff;
    font-weight: 500;
}

.buttons a {
    color: white;
}

/* end buttons */