* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;

}

a {
    text-decoration: none;
    color: black;
}





/* navbar */

nav {
    border-style: dotted;
    /* test */
    display: flex;
    justify-content: space-between;

    width: 100vw;
    padding-top: 15px;
    padding-bottom: 15px;

}

#nav-left {
    padding-left: 20px
}

#nav-right {
    padding-right: 20px
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    color: black;
}

#dropbox-link {
    font-size: 25px;
    color: #0261ff;

}

a strong {
    font-size: 20px;
    font-weight: 600;
}

/* end navbar *






/* buttons */
.buttons {
    padding: 6px 12px;
    width: fit-content;

    background-color: #0261ff;
    font-weight: 500;
}

.buttons a {
    color: white;
}

/* end buttons */




/* jumbo */


#jumbo-bg {
    position: relative;
    height: 800px;
    width: 100%;
    margin-bottom: 80px;

    display: flex;
    justify-content: center;

    background-color: #b4d0e7;
}

.container-big {
    border-style: dotted;
    /* test */
    position: absolute;
    bottom: -80px;


    max-width: 1200px;
}

h1 {
    padding-top: 100px;
    padding-bottom: 70px;
    max-width: 1050px;
    font-size: 54px;
}

.jumbo-content {
    display: flex;

}

#jumbo-text {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 30%;
}

#jumbo-text p {
    padding-bottom: 20px;
}

#jumbo-text .free-trial {
    margin-bottom: 10px;
}

#arrow-down {
    font-size: 50px;
}

#jumbo-img {
    width: 70%;
}

.jumbo-content #jumbo-img img {
    width: 100%;
}

/* end jumbo */




/* main */
main {
    border-style: dotted;
    /* test */

    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.container-small {
    max-width: 1000px;
}


/* chekboxes */
.plan-checkbox {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    gap: 50px;

}

/* end ceckboxes */




/* business columns  */
.columns-container {
    display: flex;
    gap: 50px;
}

.body-column {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 12px;
    padding-right: 20px;
    padding-left: 20px;
    row-gap: 30px;

    border: solid;
    border-width: 1px;
    border-color: rgba(1, 1, 1, .2)
}

.head-column {
    text-align: center;
}

.column-spacing {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.day-free-trial {
    padding-top: 50px;
}

.day-free-trial .buttons {
    text-align: center;
    width: 100%;
}

.body-column hr {
    position: absolute;
    width: 100%;
    z-index: 11;
    left: 0;
    top: 50px;

    border-style: none;
    border: solid;
    border-width: 0.1px;
    color: rgba(1, 1, 1, .2)
}

h3 {
    padding-top: 30px;
}

#features-divisor {
    width: 30%;
    position: static;
}

.features {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 20px;
}



/* end business columns */

/* enterprise section */
#enterprise-section {
    display: flex;
    flex-direction: column;
    margin-top: 60px;


    border: solid;
    border-width: 1px;
    border-color: rgba(1, 1, 1, .2)
}

#enterprise-section .section-title {
    text-align: center;
    padding: 12px;
    padding-right: 20px;
    padding-left: 20px;
}

.enterprise-body {
    display: flex;
    justify-content: space-between;

    padding-top: 42px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
}

.enterprise-body-left {
    display: flex;
    flex-direction: column;

    row-gap: 20px;
}

#enterprise-section hr {
    width: 100%;

    border-style: none;
    border: solid;
    border-width: 0.1px;
    color: rgba(1, 1, 1, .2)
}

#enterprise-section h3 {
    padding: 0;
}

#enterprise-section .buttons {
    height: fit-content;
}

.enteprise-details {
    padding-top: 20px;
}

/* end entrpise section */






/* partner section */
.partner-container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 160px;
    gap: 50px;
}

#img-partner {
    width: 60%;
}

#img-partner img {
    width: 100%;
}

.partner-text {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.partner-text .buttons {
    background-color: white;
    border: solid;
    border-width: 1px;
}

.partner-text .buttons a {
    color: black;
}

/* end partner section */




/* dropbox business */
.business-container {
    padding-top: 84px;
}

.business-container h2 {
    width: 50%;
    font-size: 30px;
    padding-bottom: 82px;
}

.business-container a {
    color: #0261ff;
    text-decoration: underline;
}

.business-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;

    padding-bottom: 200px;
}

.business-box {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 50px / 3 * 2);
}

.business-container .business-row .business-box img {
    width: 100%;
}

.business-container .business-box h3 {
    padding-bottom: 30px;
}


/* end dropbox business */

/* end main */